<nav class="navbar navbar-light bg-dark p-0 shadow-md text-white">
  <a class="navbar-brand d-flex flex-row align-items-center" href="/">
    <img class="px-2 ml-2" width="57" src="/logo/logo.svg" alt="DevTips Logo"/>
    <h1 class="mb-0 px-1 text-white h4">
      Devtips
    </h1>
  </a>
  <form id="navbar-form-search" class="form-inline my-3" style="flex: 1; margin: 0 15vw; max-width: 768px;">
    <input class="form-control mr-sm-2" style="flex: 1;" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <div id="navbar-user" class="d-flex align-items-center mx-3">
    <% if (!user.id) { // @TODO When user isn't logged in %>
      <a href="/user/login"><button class="btn btn-light" type="button">Login</button></a>
  <% } else { %>
  <a class="text-white" href="/user/<%= user.id %>">
    <span id="navbar-username" class="font-weight-semibold px-2 text-light"><%= user.name %></span>
    <img class="rounded-circle border-0 img-thumbnail p-0" height="42" width="42" src="https://avatars.dicebear.com/4.4/api/avataaars/<%= user.id %>.svg">
  </a>
  <a href="/user/logout"><button id="navbar-logout" class="btn btn-outline-light btn-sm ml-4" type="button">Logout</button></a>
  <% } %>
  </div>
</nav>
