<% if (!user.id) { %>
<div id="welcome" class="container my-4">
  <div class="row no-gutter justify-content-center">
    <div class="col col-sm-10 col-md-12 col-lg-8">
      <div class="card bg-white mb-4 p-5 border-0 bg-primary text-white shadow-md">
        <h1 class="text-white">Welcome to DevTips 👋</h1>
        <p class="font-weight-light"><strong>Tips are made to be shared!</strong> Don't hide your brilliant hacks and snippets away and condem them to the dust of esoterica.</p>
        <p class="h6">Join a community of devs who share their knowledge.</p>

      </div>
    </div>
  </div>
</div>
<% } %>
