<!DOCTYPE html>
<html lang="en">
  <title>Home Page</title>
  <%- include('./partials/includes') %>
</head>

<body>
  <%- include('./partials/navbar') %>

  <main style="min-height: 80vh;">
    <div id="compose-tips" class="container my-4">
      <div class="card bg-white mb-3 shadow-sm">
        <form>
          <div class="form-group p-4">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Much longer nav link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </form>
      </div>
    </div>

    <div id="list-tips" class="container mb-5">
      <div class="card mb-3 shadow-sm">
          <div class="card-header">
            Header
          </div>
          <div class="card-body">
            <code>
              <%= JSON.stringify(user); %>
            </code>
          </div>
        </div>
      <div class="card mb-3 shadow-sm">
          <div class="card-header">
            Header
          </div>
          <div class="card-body">
            Body</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
          </div>
        </div>
      <div class="card mb-3 shadow-sm">
          <div class="card-header">
            Header
          </div>
          <div class="card-body">
            Body</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
            ...</br>
          </div>
        </div>
    </div>
  </main>

  <footer class="bg-white text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>© Devtips 2020</p>
    </div>
  </footer>
</body>

</html>
