<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Local Includes -->
    <%- include('./partials/includes') %>
  </head>

  <body>
    <%- include('./partials/navbar') %>

    <main class="mt-5" style="min-height: 80vh;">

      <%- include('./partials/compose') %>

      <div id="list-tips" class="container mb-5">

      </div>
      <%- include('./partials/paginator') %>
    </main>

    <footer class="bg-white text-muted py-5">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>© Devtips 2020</p>
      </div>
    </footer>
  </body>

</html>
