<!DOCTYPE html>
<html lang="en">
<title>Home Page</title>
<%- include('./partials/includes') %>
</head>

<body>
  <%- include('./partials/navbar') %>

  <main class="mt-5" style="min-height: 80vh;">

    <div id="compose-tips" class="container my-4">
      <div class="card bg-white mb-3 col-lg-8 offset-lg-2 shadow-sm py-5">
        <form class="p-4 px-5" method="POST" action="/user/login/" accept-charset="UTF-8" role="form">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">You're almost there 😁</h3>
            </div>
            <div class="panel-body">
                <fieldset>
                  <div class="form-group">
                    <input class="form-control my-3" placeholder="anna_green@example.su" name="email" type="email">
                    <input class="form-control my-3" placeholder="password" name="password" type="password">
                  </div>
                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>

  </main>

  <footer class="bg-white text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>© Devtips 2020</p>
    </div>
  </footer>
</body>

</html>
