<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/tip-render.js"></script>
  </head>

  <body>
    <h1>Search</h1>
    <form action="/search/" method="POST">
      <input name="search"></input>
      <button type="submit">Search</button>
      <mark></mark>
    </form>
    <h3 id="results-header"></h3>
    <section id="tip-feed"></section>
    <section id="pager"></section>

  </body>
</html>
