<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Search Results</title>

    <!-- Local Includes -->
    <%- include('./partials/includes') %>
  </head>

  <body>
    <%- include('./partials/navbar') %>

    <main class="mt-5" style="min-height: 80vh;">

      <header id="results" class="container my-4 mb-5">
        <div class="row no-gutter justify-content-center">
          <div class="col col-sm-10 col-md-12 col-lg-8">
            <div class="card px-4 py-4 border-0 bg-dark text-white shadow-md">
              <h3 id="results-header" class="mb-0" style="font-weight: 400;"></h3>
            </div>
          </div>
        </div>
      </header>

      <div class="justify-content-center align-items-center" style="display: flex;">

      </div>
      <div id="list-tips" class="container mb-5">

      </div>
      <%- include('./partials/paginator') %>
    </main>

    <footer class="bg-white text-muted py-5">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>© Devtips 2020</p>
      </div>
    </footer>
  </body>

</html>
