// See: https://sass-lang.com/

html {
}

body {
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji !important;
  line-height: 1.5;
  background-color: hsl(210, 36%, 96%);

  a:hover {
    text-decoration: none;
  }

  h1 {
    color: #244751;
  }
}

#compose-textarea-title:focus,
#compose-textarea-data:focus,
#compose-textarea-description:focus {
  border: none;
  overflow: hidden !important;
  outline: none;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none !important;
}

textarea,
textarea::-webkit-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::placeholder {
  color: rgb(206, 206, 206);
}

.hidden {
  display: none;
}

.offset-half {
  margin-left: 4.166666%;
}

.code-block > * {
  padding: 1.5rem!important;
}

.bg-primary {
  background-color:hsl(243, 94%, 66%)!important;
}

.btn-outline-primary {
  color: hsl(243, 94%, 66%)!important;
  border-color: hsl(243, 94%, 66%)!important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: hsl(243, 94%, 66%)!important;
  border-color: hsl(243, 94%, 66%)!important;
}

#navbar-form-search .form-control:focus {
  border-color: hsl(243, 100%, 77%);
  box-shadow: 0 0 0 0.2rem  hsla(243, 81%, 60%, 0.479);
}

a {
  color: hsl(243, 94%, 66%) !important;
}

.text-primary {
  color: hsl(243, 94%, 66%) !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background-color: hsl(243, 94%, 66%) !important;
}

#compose-tips {
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: hsl(243, 94%, 66%) !important;
    background-color:#f4f5ff !important;
    border-radius: 0;
  }
}


.btn-primary {
  color: #fff;
  background-color: hsl(243, 94%, 66%) !important;
  border-color: hsl(243, 94%, 66%) !important;
}

.nav.nav-social li {
  padding: 0.5em;
}

.nav.nav-usertabs li {
  margin: 0.5em;
}

#navbar-logout {
  color: #4affb9 !important;
  border-color: #4affb9 !important;
}

#navbar-logout:hover {
  color: black !important;
  background-color: #4affb9 !important;
}

.tip-avatar {
  position: absolute;
  top: -22px;
  right: -69px;
}

.tip.user .tip-avatar {
  right: -85px;
}

.tip.user .tip-icons {
  right: -46px;
  top: 62px;
  left: auto;
}



.tip-icons {
  position: absolute;
  left: -23px;
  top: 12px;
  color: hsl(0, 0%, 27%);
  i {
    padding: 0.5rem;
    padding-bottom: 0.75rem;
  }
  .badge {
    font-size: 0.70em;
    font-weight: normal;
    background-color: hsl(158, 74%, 55%);
  }
  .badge.dislike {
    background-color: rgb(255, 95, 95);
  }
}

#navbar-form-search input {
  background-color: #515a63!important;
  border: 0;
  color: white;
}

div.tip div.card-body {
  padding: 0;
}

div.tip div.card-body > :not(.code-block):not(.video):not(.image) {
  padding: 1.25em;
}

div.tip div.video > * {
  width: 100%;
  object-fit: fill;
}

div.tip div.image img {
  object-fit: cover;
  width: 100%;
}

.comment-date-created {
  font-size: 0.75em;
  float:right;
}
